@page "/"

<PageTitle>
    <Docusert DocSelect="Index.docx" BlockSelect="PageTitle" Plaintext=true></Docusert>
</PageTitle>


<div class="col-sm-12 col-md-6">
    <h3><Docusert DocSelect="Index.docx" BlockSelect="Block1Title"></Docusert></h3>
    <p><Docusert DocSelect="Index.docx" BlockSelect="Block1Text"></Docusert></p>
</div>