<footer class="bd-footer py-4 py-md-5 mt-5">
    <div class="container py-4 py-md-5 px-4 px-md-3">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <Docusert DocSelect="Footer.docx" BlockSelect="Address"></Docusert>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-4 offset-lg-1 mb-3">
                <h5>Links</h5>
                <Docusert DocSelect="Footer.docx" BlockSelect="Links"></Docusert>
            </div>
        </div>
        <div class="row">
            <Docusert DocSelect="Footer.docx" BlockSelect="Legal"></Docusert>
        </div>
    </div>
</footer>



