@inherits LayoutComponentBase

<PageTitle>Editise</PageTitle>

<div class="page @PageType">
    <main>
        <div class="container navbar top-row px-4">
            <a href="#">
                Editise
            </a>
            <div class="d-flex nav-items-wrapper">
                <NavMenu />
            </div>
        </div>

        <article class="container content px-4">
            @Body
        </article>
        <div class="footer">
            <Footer></Footer>
        </div>
    </main>
</div>
<Cta></Cta>
<ClearCache></ClearCache>
