<span class="nav-item px-1">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
</span>
<span class="nav-item px-1">
    <NavLink class="nav-link" href="/services">Services</NavLink>
</span>
<span class="nav-item px-1">
    <NavLink class="nav-link" href="/pricing">Pricing</NavLink>
</span>
<span class="nav-item px-1">
    <NavLink class="nav-link" href="/technologies">Testing Technologies</NavLink>
</span>
<span class="nav-item px-1">
    <NavLink class="nav-link" href="/consultation">Free Technical Consultation</NavLink>
</span>
