<span class="nav-item px-1">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
</span>
<span class="nav-item px-1">
    <NavLink class="nav-link" href="/page1">Page1</NavLink>
</span>
<span class="nav-item px-1">
    <NavLink class="nav-link" href="/page2">Page2</NavLink>
</span>
<span class="nav-item px-1">
    <NavLink class="nav-link" href="/page3">Page3</NavLink>
</span>
